@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face{
  font-family: "Knile";
  src:url(./font/Knile-Regular.otf)
}
/* 공통 css */
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}



html{
  font-size:16px;
  font-family: 'knile', serif;
}
.container{
  margin-left: 100px;
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-width: 1024px;
}
.logo{
  margin-top:40px;
  font-size:24px;
  width:100px;
  height: 100px;
 }
 .logo img{
  max-width:100%;
 }


 .nav{
   position: fixed;
   top:0;
   left:0;
   width:100px;
   height: 100%;
   z-index: 1000;
   background-color: black;
   background-color: #fff;
   text-align: center;
   padding:20px 0;
 }
 .nav ul li>* {
  font-size: 20px; 
  color:#fff;
  color:#000;
  padding:2px;
  margin: 20px 0;
  display: inline-block;
 }
 .navbar li:nth-child(1){
   /* border:1px solid red; */
   height: 30vh;
 }
 .nav i {
   cursor: pointer;
 }
 
 .navbar-inner{
   position: absolute;
   top:0;
   left:0;
   width:200px;
   height: 100%;
   background-color: #000;
   background-color: #fff;
   color:#fff;
   text-align: left;
   padding-top:100px;
   padding-left:20px;
   z-index:-1;
   transform: translateX(-100%);

 }




 .intro{
   padding:50px;
   font-size: 400%;
   width:calc(55% - 100px);
 }



 /*아코디언 페이지 */
 .accordion-list{
   /* border: 1px solid red; */
   position: absolute;
   top:0;
   right:0;
   left:100px;
   width:calc(100% - 100px);
   height: 100%;
   
 }
 .accordion-list h3{
  font-size:30px;
  font-weight: 900;
  margin:20px 0;
}

 .accordion-list > li{
   width: 20%;
   height: 100%;
   padding: 20px;
   position: absolute;
   background: #ff362f;
   left:76%;
   box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.5);
 }
  .accordion-list > li:nth-child(2){
  left:84%;
}
.accordion-list > li:nth-child(3){
  left:90%;
}
.accordion-list > li:nth-child(4){
  left:94%;
  background-color: black;
  color:#fff;
}

.accordion-list > li:hover{
transform:translateX(-10%);
transition:0.5s all
}
.accordion-list > li.active{
  right:0;
  left:0;
  width:85%;
  padding:0;
  transform: none;
  background-color: rgba(0, 0, 0, 0.8);
  color:#fff;
}
.accordion-list > li section:nth-child(2){
  display: none;
}
.accordion-list > li.active section:nth-child(1){
  /* opacity: 0; */
 display: none;
}
.accordion-list > li.active section:nth-child(2){
  display: block;
  transition: 1s all;
}

.accordion-list li section>span:nth-child(2) {
  font-size:60px;
  font-weight: 900;
  vertical-align: middle;
  display: inline-block;
  width:100%;
}



/* 포트폴리오 */
.portfolio {
  height:100%;
}

.portfolio ul,.portfolio ul li {
  position: relative;
  height: 100%;
  
}
.portfolio article{
  height:100%;
  text-align: center;
  position: relative;
}
.wrap{
  min-width: 700px;
  width:100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top:50%;
  /* min-width: 1000px; */
  max-height: 463px;
  transform: translateY(-50%);
}
.portfolio .wrap::after{
  content: '';
  display: block;
  width: 70%;
  /* min-width: 800px; */
  height: 100%;
  position: absolute;
  z-index: 1000;
  bottom:0px;
  left:50%;
  transform: translateX(-50%);
  background:no-repeat bottom/100% url(../img/macbook-bottom.png)  ;
}
.portfolio article .img_wrap{
  display: inline-block;
  position: relative;
  width: 60%;
  max-height: 440px;
  overflow: hidden;
  padding:2px 15px;
  background-color: #000;
  border-radius:18px ;
}
.portfolio article .img_wrap::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top:-1.1px;
  left:0;
  background:no-repeat top/100% 100% url(../img/macbook-top.png);
}

.portfolio article img {
  display: inline-block;
  width:100%;
  min-width: 400px;
}
article img.run-animation{
  animation: ani4 10s infinite;
  animation-delay: 0.5s;
}

@keyframes ani4{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-75%);
  }
  
}
.portfolio article p {
  position: absolute;
  padding:20px;
  bottom:20px;
  width:60%;
  left:50%;
  transform: translateX(-50%);
}


.portfolio ul>li i {
  cursor: pointer;
  padding:10px;
  font-size:40px;
}
.portfolio ul>li:first-child,
.portfolio ul>li:last-child{
  position: absolute;
  top:50%;
  height: auto;
  display: inline;
  z-index: 1000;
  transform: translateY(-50%);
}
.portfolio ul>li:first-child{
  left:50px;
}
.portfolio ul>li:last-child{
  right:50px;
}

@media (min-width:901px) and (max-width:1440px){
  .portfolio .wrap::after{
    bottom:8px
  }
}
@media (min-width:680px) and (max-width:900px){
  .portfolio .wrap::after{
    bottom:10px
  }
}